<div class="row">
    <div class="column">
        <div class="tab">
            <tabs class="tabs">
                <div>
                    <tab tabTitle="Start Existing">
                        <app-ark-details [isOffline]="isOffline" [selectedSession]="selectedSession" (statusChangeEmitter)="statusUpdateEvent($event)"></app-ark-details>
                    </tab>
                    <tab tabTitle="Create New">
                        <app-ark-create [isOffline]="isOffline" (selectedSessionEmitter)="listItemSelected($event)"></app-ark-create>
                    </tab>
                </div>
            </tabs>
        </div>
    </div>
    <div class="column">
        <app-ark-sessions (selectedSessionEmitter)="listItemSelected($event)"></app-ark-sessions>
    </div>
</div>