<h3>Start Session</h3>
Session Name: {{selectedSession.sessionName}}
<br>
<label>Map Name:
    <select [(ngModel)]="mapName">
        <option *ngFor="let map of maps" [value]="map">{{map}}</option>
    </select>
</label>
<br><br>
Session Status: {{sessionStatus}}
<br><br>
<button *ngIf="!isRunning || isOffline" class="button" title="Start Session" (click)="startSession()">Start Session</button>
<button *ngIf="isRunning || !isOffline" class="button" title="Save And Export" (click)="saveAndExportSession()">Save Session</button>
<button *ngIf="isRunning || !isOffline" class="button" title="Save And Exit" (click)="saveAndExitSession()">Save and Exit Session</button>
<button *ngIf="!isRunning && isOffline" [disabled]="isSessionNameEmpty()" class="button" title="Edit Config" (click)="getConfigData()">Edit Config</button>
<br><br><br>
<div *ngIf="editConfig && !isRunning">
    GameUserSettings.ini
    <button *ngIf="gusConfigData" class="button" title="Save GameUserSettings.ini" (click)="saveConfig(gusFileName, gusConfigData)">Save GameUserSettings.ini</button>
    <br>
    <textarea [(ngModel)]="gusConfigData"></textarea>
    <br>
    <br>
    Game.ini 
    <button *ngIf="gameConfigData" class="button" title="Save Game.ini" (click)="saveConfig(gameFileName, gameConfigData)">Save Game.ini</button>
    <br>
    <textarea [(ngModel)]="gameConfigData"></textarea>
</div>
