<h3>Create Session</h3>
<label>Session Name:
    <input [(ngModel)]="sessionName" placeholder="session" (input)="validateSessionName()" [pattern]="'^[a-zA-Z0-9\-\_]$'"/>
</label>
<br>
<label>Map Name:
    <select [(ngModel)]="mapName">
        <option *ngFor="let map of maps" [value]="map">{{map}}</option>
    </select>
</label>
<br><br>
<button class="button" title="Create And Start Session" [disabled]="isCreateButtonEnabled()"
    (click)="createAndStartSession()">Create And Start Session</button>
